.git
.github
.vscode
.DS_Store
docker/postgres/dumps
pizzeria-admin-web/node_modules
pizzeria-admin-web/build
pizzeria-admin-web/dist
pizzeria-admin-mobile/node_modules
pizzeria-admin-mobile/build
pizzeria-admin-mobile/dist
pizzeria-backend/node_modules
pizzeria-backend/build
pizzeria-print-agent/node_modules
pizzeria-print-agent/build
pizzeria-print-agent/dist
pizzeria-web-service-front/node_modules
pizzeria-web-service-front/build
pizzeria-web-service-front/dist
